/* MEDIA QUERIES */
@media all and (max-width: 800px) {
    .class-img h1 {
        font-size: 1.5rem;
    }
    
}
@media all and (max-width: 570px) {
    .container {
        width: 90%;
    }
    .row .col-sm-3 {
        width: 80%;
        height: auto;
        margin: 2vh auto;
        
    }
    .class-img h1 {
        font-size: 1rem;
    }
    .overlay span,
    .overlay p,
    .overlay a {
        font-size: 10px !important;
    }
    
}